<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8CNWy78363-CRYmi3j7bVSMUl-y9BHK4</string>
	<key>GCM_SENDER_ID</key>
	<string>516308394070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.frikiland.frikiland</string>
	<key>PROJECT_ID</key>
	<string>frikiland-1</string>
	<key>STORAGE_BUCKET</key>
	<string>frikiland-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516308394070:ios:4e04fd713ed55ab51b1bf7</string>
</dict>
</plist>